<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

    </head>

    <body>


    <nav class="navbar bg-primary border-bottom navbar-expand-lg bg-body-tertiary --bs-blue">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-family:Rockwell; color:white" >StoreApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" style="color:white" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link active" aria-current="page" style="color:white" asp-controller="Product" asp-action="Index">Products</a>
                    <a class="nav-link active" aria-current="page" style="color:white" asp-controller="Category" asp-action="Index">Categories</a>

                </div>
            </div>
        </div>
    </nav>

    </body>
</html>

